body{
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: #ffffff;
    margin: auto;
    margin-top: 100px;
    width: 410px;
    display: grid;
    box-shadow: 0 25px 25px #372AE030;
    border-radius: 10px;    
}
img {
    margin: auto;
    width: 410px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.music-icon {
    width: 55px;
    height: 45px;
    margin: 16px;
}
.price {
    background: #fff;
    margin: auto;
    width: 332px;
    height: 96px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
